# Do not export these files in the Composer archive (lighter dependency)
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
composer.lock export-ignore
ecs.php export-ignore
phpstan.neon export-ignore
phpunit.xml.dist export-ignore
tests/ export-ignore

# Auto-detect text files and perform LF normalization
* text=auto
